.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color:black;
  color: floralwhite;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:floralwhite;
}

.navbar-light {
  background-color:white;
  color:black;
  font-family: inherit;
  font-size: 0.7em;
  margin-bottom: 0;
  font-weight: bold;
 

}




.bg {
  /* The image used */
  background-image: url("edits-24.JPG");

  /* Full height */
   
  height: 600px;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg h1 {
  color:white;
  font-family: inherit;
  font-size: 3.3em;
  padding-top: 35%;
  text-align: center;
  align-self: center;
  font-weight: bold;
  }
  .row h1{
    color:#23A455;
    padding: 1em 0px 1em 1em;
  }
  
  .card button{
    background: #23a455 ;
    color:white;
  }