.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color:black;
  color: floralwhite;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:floralwhite;
}

.navbar-light {
  background-color:white;
  color:black;
  font-family: inherit;
  font-size: 0.7em;
  margin-bottom: 0;
  font-weight: bold;
 

}


.banner{
  
  position: relative;
  top:0;
  width: 100%;
  height: 100vh;
  
  background: #61CE70;
  display: flex;
  justify-content: center;

 
}
.banner img{
  position: absolute;
  
 top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: 0.25;
  object-fit: cover;
 min-height: fit-content;
}
.banner .content{
  position: relative;

}
.banner .content .card{
  background-color: transparent;
  color:white;
  font-size: 1.3em;
  border:transparent;

}



.bg {
  /* The image used */
  background-image: url("images/edits-24.JPG");

  /* Full height */
   
  height: 600px;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg h1 {
  color:white;
  font-family: inherit;
  font-size: 3.3em;
  padding-top:450px;
  text-align: center;
  align-self: center;
  font-weight: bold;
  }
  .bgGreen{
    background-color: #61CE70;
   
    border-bottom: 10px;

  }
  .bgGreen h1{
    color:white !important;
  
    text-align: center !important;
 

  }
  .bgGreen p{
    color: rgb(61, 61, 61) ;
   
    text-align: center !important;
    
  }
  .row h1{
   
    color:#23A455;
    padding: 1em 0px 1em 1em;
    text-align: center;
  }
  
  
  .row button{
    background: #23a455 ;
    color:white;
    border-color: transparent;
  }
  .container tittle{
    font-size: 3.5em;
    font-weight: 650;
    padding-top: 4em;
    text-align: center;
    color:#23A455;

  }
  .bgDark{
    color:white;
    background-color: #18191d;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 4em;
  }
  .bgDark h1{
    font-size: 3em;
    font-weight: 700;

  }
  .bgDark p{
    font-size: 1.2em;
    font-weight: 400;
    font-stretch: expanded;
  }
  .bgDark button{
    font-size: 0.9em;
    background-color: #23a455;
    border: transparent 0px;

  }  

  #map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }
   .textwhite p{
     color:white !important;
   }
   .textwhite tittle{
    color:white !important;
    font-size: 3.0em;
    font-weight: 700;
    
  }